*{
    font-family: "Inter", sans-serif;
}



.netbook{
    width: 1440px;
    height: 700px;

}
.netbook2{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.nav1-logo1{

}
.nav1-menu1{
  
}
.nav1-all1{
    border: none;
    padding-left: 20px;
    color: #656464;
}
.nav1-menu1 a{
    text-decoration: none;
    padding-left: 25px;
    color: #656464;
}
.nav1-right{
    display: flex;

}
.nav1-search1{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 10px 1px;   
    margin-right: 40px;
    height: 30px;
    width: 170px;
}
.search-input1{
    border: none;
    color: #656464;
    font-size: 10px;

}
.nav1-icon1{
    font-size: 13px; 
    padding-top: 2px;
    padding-right: 5px;

}
.nav1-button1{
    width: 120px;
    height: 45px;
    background-color: #DFEDFE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 10px;

}
.nav1-button1 a{
    text-decoration: none;
    color: white;

}
.netbook3{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.netbook3-text1{

}
.netbook3-button1{
    width: 160px;
    height: 62px;
    background-color: #DFEDFE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

}
.netbook3-button1 a{
    text-decoration: none;
    color: white;

}
.netbook3-img1{

}
                 /* hero start */

.hero1{
    width: 1440px;
    height: 557px;
 display: flex;
 justify-content: space-around;
 align-items: center;

}
.hero1-text1{
    display: flex;
    flex-direction: column;   
}
.hero1-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero1-img4{
    margin-right: 30px;
}
.hero1-img5{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}
        /* hero  2   start */
.hero2{
    width: 1440px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero2-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 336px;
    height: 340px;
    box-shadow: 0px 0px 10px 0px rgb(188, 190, 191); 
}
.hero2-img1{
    display: flex;
    text-align: center;
    justify-content: flex-start;
  

}
.hero2-icon1{
    display: flex;
    color: #656464;
   
}
.hero2-button1{

}
.hero2-button1 a{
text-decoration: none;
color: #217BF4;
}
.hero2-caod2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 336px;
    height: 340px;
    box-shadow: 0px 0px 10px 0px rgb(188, 190, 191); 

}
.hero2-img2{
    display: flex;
    text-align: center;
    justify-content: flex-start;

}
.hero2-icon2{

    display: flex;
    color: #656464;
}
.hero2-button2{

}
.hero2-button2 a{
    text-decoration: none;
    color: #217BF4;
    }
.hero2-card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    box-shadow: 0px 0px 10px 0px rgb(188, 190, 191);   
    width: 386px;
    height: 340px;

}
.hero2-button3{
    width: 190px;
    height: 58px;
    background-color: #217BF4;
    border-radius: 16px;
    display: flex;
  
    justify-content: center;
    align-items: center;

}
.hero2-button3 a{
    text-decoration: none;
    color: white;

}














        @media screen and (max-width:375px){
            .netbook{
                width: 300px;
                height: 700px;
            
            }
            .netbook2{
               
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
                
             }
            .nav1-right{
                display: none;}
            .nav1-menu1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
 
}
.nav1-menu1 a{
    padding-top: 40px;
    text-decoration: none;
    padding-left: 25px;
    color: #656464;
}
.nav1-all1{
    margin-top: 40px;
    border: none;
    color: #656464;
}
.netbook3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.netbook3-text1{

}
.netbook3-button1{
    width: 160px;
    height: 62px;
    background-color: #DFEDFE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

}
.netbook3-button1 a{
    text-decoration: none;
    color: white;

}
.netbook3-img11{
    width: 250px;

}
.netbook3-img1{
    margin-top: 80px;

}

/* hero */

.hero1{
    margin-top: 700px;
    width: 300px;
    height: 557px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.hero1-text1{
   
    display: flex;
    flex-direction: column;   
    
}
.hero1-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero1-img4{
   width: 250px;

}
.hero1-img5{
margin-top: 10px;
}

         /* hero  2   start */
.hero2{margin-top: 650px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero2-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 336px;
    height: 540px;
    box-shadow: 0px 0px 10px 0px rgb(188, 190, 191); 
}
.hero2-img1{
    display: flex;
    text-align: center;
    justify-content: flex-start;
  

}
.hero2-icon1{
    display: flex;
    color: #656464;
   
}
.hero2-button1{

}
.hero2-button1 a{
text-decoration: none;
color: #217BF4;
}
.hero2-caod2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 336px;
    height: 440px;
    box-shadow: 0px 0px 10px 0px rgb(188, 190, 191); 

}
.hero2-img2{
    display: flex;
    text-align: center;
    justify-content: flex-start;

}
.hero2-icon2{

    display: flex;
    color: #656464;
}
.hero2-button2{

}
.hero2-button2 a{
    text-decoration: none;
    color: #217BF4;
    }
.hero2-card3{
 
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(188, 190, 191);   
    width: 336px;
    height: 540px;
    margin-left: 5px;

}
.hero2-button3{
    width: 190px;
    height: 58px;
    background-color: #217BF4;
    border-radius: 16px;
    display: flex;
  
    justify-content: center;
    align-items: center;

}
.hero2-button3 a{
    text-decoration: none;
    color: white;

}
      
            




}
